<%- include('header') %>
<div class="card">
    <div class="card-body">
        <div class="card-title">Stock Out</div>
        <form action="" method="post">
            <div>
                <label for="">Product Barcode</label>
                <input type="text" class="form-control" name="product_barcode">
            </div>
            <div>
                <label for="">Quantity</label>
                <input type="text" class="form-control" name="qty">
            </div>
            <div>
                <label for="">Remark</label>
                <input type="text" class="form-control" name="remark">
            </div>
            <div>
                <button type="submit" class="btn btn-info">Save</button>
            </div>
        </form>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Barcode</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Out date</th>
                    <th>Remark</th>
                </tr>
            </thead>
            <tbody>
                <% stockOuts.forEach((item) => { %> 
                <tr>
                    <td>
                        <a href="/deleteExportFromStock/<%= item.id %>" class="btn btn-danger" onclick="return confirm('delete')"><span class="material-symbols-outlined material-icon">
                            close
                          </span>
                        </a>
                    </td>
                    <td><%= item.barcode %></td>
                    <td><%= item.name %></td>
                    <td><%= item.qty %></td>
                    <td><%= dayjs(item.created_date).format(dayFormat) %></td>
                    <td><%= item.remark %></td>
                </tr>
                <% }) %>
            </tbody>
        </table> 
       

    </div> 
</div>
<%- include('footer') %>