<%- include('page_header') %>

  <div class="container mt-3">
    <form class="float-right mt-2 mb-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Search Product</div>
        </div>
          <input type="text" name="search" class="form-control" />
          <div class="input-group-append">
            <button class="btn btn-info" type="submit">
              <span class="material-symbols-outlined material-icon">
                search
              </span>
              search
            </button>
          </div>
      </div>
    </form>


    <div class="d-inline-flex flex-row justify-content-between align-items-start flex-nowrap">
      <!--left side-->
      <div class="float-left">
        <ul class="list-group" style="width: 150px;">
          <% groupProducts.forEach((item) => { %>
          <li class="list-group-item">
            <a href="/?groupProductId=<%= item.id %>">
              <%= item.name %>
            </a>
          </li>
          <% }) %>
        </ul>
      </div>
      <!--right side-->
      <div>
        <div class="d-inline-flex flex-row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-6 justify-content-between flex-wrap">
          <% products.forEach((product) => { %>
            <div class="col" >
            <div class="card mt-2">
              <img src="/images/<%= product.img %>" class="card-img-top" />
                <div class="card-body mt-2" style="object-fit: cover;">
                  <div class="text-center"> <%= product.name %></div>
                    <div class="text-center"> <%= product.price %></div>
                      <div class="mt-3 text-center">
                        <a href="/addToCart/<%= product.id %>" class="btn btn-success btn-sm">
                        <span class="material-symbols-outlined material-icon">
                          shopping_cart
                        </span>
                        Add to Cart
                        </a>
                    </div>
                  </div>
                </div>
            </div>
            <% }) %>
            </div>
        </div>
      </div>
  </div>


<%- include('page_footer') %>

