<%- include('page_header') %>

    <div class="container">
        <div class="h4">Cart</div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Image</th>
                    <th>Barcode</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach((product) => { %>
                    <tr>
                        <td>
                            <a class="btn btn-info" href="/editItemInCart/<%= product.id %>">
                                <span class="material-symbols-outlined material-icon">
                                    edit
                                  </span>
                                  edit
                            </a>
                            <a class="btn btn-danger" href="/deleteItemInCart/<%= product.id %>" onclick="return confirm('delete?')">
                                <span class="material-symbols-outlined material-icon">
                                    close
                                  </span>
                                  delete
                            </a>
                        </td>
                        <td><img src="/images/<%= product.img %>" width="150px"></td>
                        <td><%= product.barcode %></td>
                        <td><%= product.name %></td>
                        <td><%= product.price %></td>
                        <td><%= product.qty %></td>
                        <td><%= product.qty * product.price %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>

        <div class="float-right">
            number of item <%= totalQty %> . Total: <%= totalPrice %> Baht
        </div>
        <br>
        <div class="float-right">
            <a href="/confirmOrder" class="btn btn-info">
                Checks out
            </a>
        </div>
        <div class="clearfix"></div>


    </div>

<%- include('page_footer') %>