<%- include('header') %>

    <div class="card">
        <div class="card-body">
            <div class="card-title">Stock Report</div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Barcode</th>
                        <th>Product</th>
                        <th>Stock in</th>
                        <th>Stock out</th>
                        <th>Remaining</th>
                    </tr>
                </thead>
                <tbody>
                    <% arr.forEach(item => { %>
                    <tr>
                        <td><%= item.barcode %> </td>
                        <td><%= item.name %></td>
                        <td><%= item.qtyIn %></td>
                        <td><%= item.qtyOut %></td>
                        <td><%= item.qtyIn - item.qtyOut %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>

<%- include('footer') %>